/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* colors */
$primary-neutral-color: #000;
$primary-color: #bd2b61;
$secondary-color: #3f51b5;
$tertiary-color: #fca311;
$quaternary-color: #e5e5e5;
$quinary-color: #ddd;
$background-color: #222121;
$primary-text-color: #fff;

body {
  background-color:  #111;
  color: $primary-text-color;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  z-index: 1
}

// margin left 0 on small screens scss
@media screen and (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 1rem;
    z-index: 1
  }	

  .grid {
    grid-template-columns: 1fr;
  }
}

#notify-bubble {
  background-color: $primary-color;
  color: $primary-color;
}

#notify-text {
  color: $primary-color;
}

.current {
  color:rgba(189, 43, 97, 1)
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(189, 43, 97, 0.6);
  border-top: 1px solid $primary-color;
}