 /* colors */
 $primary-neutral-color: #000;
 $primary-color: #bd2b61;
 $primary-color-var: #df3d78;
 $secondary-color: #3f51b5;
 $tertiary-color: #fca311;
 $quaternary-color: #e5e5e5;
 $quinary-color: #ddd;
 $background-color: #222121;
 $primary-text-color: #fff;

 .card-page-title {
   border-color: #fff;
   background-color: rgba(000, 000, 000, 0.1);
   color: #fff;
   border: 1px solid $primary-color;
   text-align: center;
   text-transform: uppercase;
   font-size: 1em;
   font-weight: 700;
 }

 .card-message {
   border: 1px solid #bd2b61;
   background-color: rgba(189, 43, 97, 0.1);
   color: #fff;
 }

 .card-message-buttons {
  border: 1px solid #bd2b61;
  background-color:  #111;
  color: #fff;
}


 @media screen and (max-width: 768px) {
  .card-content .content.grid.grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
 }